/* Header */

.logo-booleaner {
  height: 100px;
}

.bg-header {
  height: 200px;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  background-color: #4ea0ff;
}

/* MAIN */

/* Titolo, autore, data */

.title-size {
  font-size: 45px;
  font-weight: 800;
}

.text-date-written-by {
  color: darkgrey;
}

.written-by {
  font-size: 25px;
  font-weight: 600;
}

.author {
  color: #4ea0ff;
}

/* Foto */

.caption-text {
  font-size: 14px;
}

/* Paragrafo */

.highlighted-text {
  background-color: yellow;
}